<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="camera_notifier">
        <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
        <jta-data-source>jdbc/camera_notifier</jta-data-source>
        <class>org.djr.securus.entities.Camera</class>
        <class>org.djr.securus.entities.CameraEvent</class>
        <class>org.djr.securus.entities.Token</class>
        <class>org.djr.securus.entities.User</class>
        <class>org.djr.securus.entities.UserLogin</class>
        <properties>
            <property
                    name="eclipselink.loggin.level.sql"
                    value="FINE"/>
            <property
                    name="eclipselink.logging.parameters"
                    value="true"/>
            <property
                    name="eclipselink.ddl-generation.output-mode"
                    value="database"/>
            <property
                    name="eclipselink.ddl-generation"
                    value="create-or-extend-tables"/>
        </properties>
    </persistence-unit>
</persistence>