<web-app version="3.1"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="
          http://xmlns.jcp.org/xml/ns/javaee
          http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <display-name>Securus</display-name>

    <servlet>
        <servlet-name>swagger</servlet-name>
        <servlet-class>io.swagger.jaxrs.config.DefaultJaxrsConfig</servlet-class>
        <init-param>
            <param-name>api.version</param-name>
            <param-value>1.0.0-SNAPSHOT</param-value>
        </init-param>
        <init-param>
            <param-name>swagger.api.basepath</param-name>
            <param-value>/api</param-value>
        </init-param>
        <init-param>
            <param-name>swagger.api.title</param-name>
            <param-value>Securus</param-value>
        </init-param>
        <init-param>
            <param-name>swagger.scanner.id</param-name>
            <param-value>swagger.scanner</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <filter>
        <filter-name>CameraAuthorizationFilter</filter-name>
        <filter-class>org.djr.securus.camera.rest.CameraAuthorizationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CameraAuthorizationFilter</filter-name>
        <url-pattern>/api/camera/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>CameraPostFilter</filter-name>
        <filter-class>org.djr.securus.camera.rest.post.CameraPostFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>CameraPostFilter</filter-name>
        <url-pattern>/api/camera/post/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>SensorAuthorizationFilter</filter-name>
        <filter-class>org.djr.securus.camera.rest.TriggerAuthorizationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SensorAuthorizationFilter</filter-name>
        <url-pattern>/api/sensor/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>UserAuthorizationFilter</filter-name>
        <filter-class>org.djr.securus.user.rest.UserAuthorizationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserAuthorizationFilter</filter-name>
        <url-pattern>/api/user/auth/*</url-pattern>
    </filter-mapping>
    <!--<filter>-->
        <!--<filter-name>RequestFilter</filter-name>-->
        <!--<filter-class>org.djr.securuss.request.RequestFilter</filter-class>-->
    <!--</filter>-->

    <!--<filter-mapping>-->
        <!--<filter-name>RequestFilter</filter-name>-->
        <!--<url-pattern>/api/securus/*</url-pattern>-->
    <!--</filter-mapping>-->
</web-app>